<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="euthenias_delight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="euthenias_delight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <euthenias_delight.Properties.Settings>
            <setting name="SMTPServer" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="SMTPUsername" serializeAs="String">
                <value>=0TPRB1dJpWWxZleRlmQuJFWK1mYDRnMZJTNw0ka41GV5tmRhNHaWdleZFjUrh2RahkTH1EeJpXW</value>
            </setting>
            <setting name="SMTPPassword" serializeAs="String">
                <value>90TUQJVMtl1baBTVKhGWSVlVHF2SOpWV</value>
            </setting>
        </euthenias_delight.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <euthenias_delight.Properties.Settings>
            <setting name="NextJobNumber" serializeAs="String">
                <value>1113</value>
            </setting>
            <setting name="NextInvoiceNumber" serializeAs="String">
                <value>1003</value>
            </setting>
        </euthenias_delight.Properties.Settings>
    </userSettings>
</configuration>